/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

img {
  max-width: 100%;
  display: block;
}

.wrapper-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* BGC */

.bgc-w {
  background-color: #ffffff;
}

.bgc-gry {
  background-color: #e5e5e5;
}

.bgc-lgry {
  background-color: #f7f7f7;
}

.bgc-bl {
  background-color: #1b72e8;
}

/* Color */

.clr-gld {
  color: #ff8f00;
}

.clr-wht {
  color: white;
}

/* Header */

header {
  height: 100px;
  background-color: #f8f9fa;
}

nav {
  background-color: #ffffff;
}

#mobile-logo {
  height: 70px;
}

.wrapper-main {
  height: 100%;
  display: flex;
  overflow: hidden;
}

.sidebar {
  flex-basis: 70px;
  background-color: black;
  /* background-image: url(/img/sidebar-bg.png); */
  flex-shrink: 0;
}

.main-content {
  flex-grow: 1;
  background-color: dodgerblue;
  overflow-y: auto;
}

.img-table {
  height: 30px;
}

.content-top {
  height: 100px;
  /* background-color: goldenrod; */
}
