body {
}

img {
  max-width: 100%;
  display: block;
}

/* Wrapper */

.wrapper-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper-main {
  flex-grow: 1;
  display: flex;
  overflow: auto;
}

/* BGC */

.bgc-w {
  background-color: #ffffff;
}

.bgc-gry {
  background-color: #e5e5e5;
}

.bgc-lgry {
  background-color: #f7f7f7;
}

.bgc-bl {
  background-color: #1b72e8;
}

.bgc-bdg {
  background-color: #165bba;
}

/* Color */

.clr-gld {
  color: #ff8f00;
}

.clr-wht {
  color: white;
}

/* Header */

header {
  height: 100px;
  background-color: #f8f9fa;
}

nav {
  background-color: #ffffff;
}

#mobile-logo {
  height: 70px;
}

/* SIDEBAR */

.sidebar {
  flex-basis: 40px;
  background-color: black;
  /* background-image: url(/img/sidebar-bg.png); */
  flex-shrink: 0;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sidebar ul li {
  width: 100%;
  text-align: center;
}

.side-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.sidebar .side-bottom div {
  width: 100%;
  text-align: center;
}

/* MAIN */

.plus-size {
  font-size: 3rem;
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
}

.img-table {
  height: 30px;
}

.content-top {
  min-height: 100px;
}

.table th {
  padding: 20px;
}

.table td {
  padding: 20px 0;
}

.trash-pencil {
  border: 1px solid grey;
  border-radius: 5px;
  color: #6c757d;
  width: 40px;
  height: 40px;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* HOVER EFFECT SIDEBAR */

.sidebar ul li a,
.sidebar .side-bottom {
  padding: 8px;
  transition: background-color 0.3s;
}

.sidebar ul li a:hover,
.sidebar .side-bottom:hover {
  background-color: rgba(255, 255, 255, 0.643);
}

.myOffcanvas {
  /* --bs-offcanvas-width: 600px; */
}
